*{
  padding: 0%;
  margin: 0%; 
}

.backGround{
  background: pink;
  height: 100vh;
  text-align: center;
  font-size: 25px;
  color: rgb(221, 125, 7);
  background-size: cover;
  justify-content: center;
}

.dropMe{
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-start;
  /* padding: 220px 0px; */
}
.btn-clickMe {
  border-radius: black;
  border: 2px solid black !important;
  font-size: 22px;
  padding: 8px 29px;
  cursor: pointer;
}
.headingDropme{
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
}
#myDropdown{
  list-style: none;
  display: grid;
  display: none;
}

/* ## for multi dropdown */
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: chartreuse;
}
.navbar{
  display: flex;
  font-size: 18px;
  font-weight: 600;
}
.navbar .nav-item{
  margin: 0 15px;
}
/* drop down */
.dropdown{
  cursor: pointer;
  user-select: none;

}
.dropdown-menu{
  display: none;
  background-color: cornflowerblue;
  position: absolute;
  padding: .25rem;
}
.dropdown-menu li{
  list-style-type: none;

}